/* Global StyleSheet */

#mainNav {
  background-color: black;
  opacity: 0.8;
}

main {
  min-height:80vh;
}

h3 {
  padding: 1rem 0;
}
h1 {
  color: white;
}
#copyright {
  color: white;

}
.rating span {
  margin: 0.1rem;
  
}
body {

  background-color: rgb(32, 32, 32);

}

